@model Guardian_Web.Models.ViewModel.GuardianTaskCreateVM

<form asp-action="CreateTaskGuardian">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Assign task</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size: 20px;">Title</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Guardian.TaksName" class="form-control" />
                <span asp-validation-for="Guardian.TaksName" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label class="control-label pt-2" style="font-size: 20px;">Responsible</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Guardian.IdResponsible" class="form-select" asp-items="@Model.GuardianList">
                    <option disabled selected>--Select employe--</option>
                </select>
                <span asp-validation-for="Guardian.IdResponsible" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Guardian.Description" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Guardian.Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Guardian.Description" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Guardian.Category" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Guardian.Category" class="form-control" rows="5"></input>
                <span asp-validation-for="Guardian.Category" class="text-danger"></span>
            </div>

            <div cclass="col-2">
                <label asp-for="Guardian.Priority" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Guardian.Priority" class="form-control" rows="5"></input>
                <span asp-validation-for="Guardian.Priority" class="text-danger"></span>
            </div>


            <div class="col-5 offset-2">
                <a asp-controller="GuardianTask" asp-action="IndexGuardianTask" class="btn-primary btn form-control">Back to list</a>
            </div>

            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}